.solar--arrow-right-linear {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4 12h16m0 0l-6-6m6 6l-6 6'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.material-symbols-light--add {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11.5 12.5H6v-1h5.5V6h1v5.5H18v1h-5.5V18h-1z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.main {
  inset: 0;
  border: 1px solid red;
  height: 100vh;
}

.scrolltrigger-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.scrolltrigger-section .background {
  background: url("../assets/images/ureun_files/mainbackground.jpg") no-repeat bottom/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.scrolltrigger-section .bg-overlay {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  max-height: 100% !important;
  z-index: 2;
  transition: background-color 0.5s;
}
.scrolltrigger-section .content {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
.scrolltrigger-section.active .content-wrapper {
  overflow-y: auto;
}
.scrolltrigger-section .content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: hidden;
}
.scrolltrigger-section .title {
  width: 100%;
  left: 0;
  position: absolute;
  z-index: 5;
  top: 3px;
  font-size: 16.5rem;
  color: #fff;
  padding-inline: 8.6rem;
  display: flex;
  flex-direction: column;
  padding-top: 60rem;
}
.scrolltrigger-section .title > p,
.scrolltrigger-section .title div {
  border: 1px solid red;
  margin-bottom: 100vh;
}
.scrolltrigger-section .title .ureun {
  margin-bottom: 15rem !important;
}
.scrolltrigger-section .title .bestsellers {
  margin-bottom: 130vh !important;
}
.scrolltrigger-section .title .membership {
  margin-bottom: 10vh !important;
}
.scrolltrigger-section .title .byskintype {
  margin-bottom: 130vh;
}
.scrolltrigger-section .visual-wrap {
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: end;
  right: 0;
  top: 0;
  padding-top: 100rem;
  width: 100%;
}
.scrolltrigger-section .visual-wrap .visual-1 {
  margin-inline: 8.6rem;
  margin-top: 12rem;
  width: 76rem;
  height: 50rem;
  overflow-y: hidden;
  border-radius: 15px;
}
.scrolltrigger-section .visual-wrap .visual-2 {
  padding-inline: 8.6rem;
  margin-top: 53vh;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: end;
  gap: 5rem;
}
.scrolltrigger-section .visual-wrap .visual-2 .left,
.scrolltrigger-section .visual-wrap .visual-2 .right {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.scrolltrigger-section .visual-wrap .visual-2 .right {
  margin-top: 9rem;
}
.scrolltrigger-section .visual-wrap .visual-2 .product-card {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: #f7f5f2;
  padding-inline: 2rem;
  padding-block: 2.5rem;
  width: 28rem;
  height: 38.5rem;
  display: flex;
  flex-direction: column;
}
.scrolltrigger-section .visual-wrap .visual-2 .product-card .category {
  font-size: 2.3rem;
  font-weight: 400;
}
.scrolltrigger-section .visual-wrap .visual-2 .product-card .name {
  font-size: 1.3rem;
  font-family: sans-serif;
  width: 35%;
}
.scrolltrigger-section .visual-wrap .visual-2 .product-card .img-box {
  height: 80%;
}
.scrolltrigger-section .visual-wrap .visual-2 .product-card .img-box img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  transform-origin: bottom;
}
.scrolltrigger-section .visual-wrap .visual-3 {
  padding-inline: 8.6rem;
  margin-top: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2.3rem;
}
.scrolltrigger-section .visual-wrap .visual-3 .more {
  font-family: "Playfair Display", serif;
  padding-inline: 1.7rem;
  padding-block: 1rem;
  border-radius: 40px;
  color: #fff;
  border: 1px solid #fff;
}
.scrolltrigger-section .visual-wrap .visual-3 .more a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.scrolltrigger-section .visual-wrap .visual-3 .more:hover {
  background-color: #fff;
  color: #5b493b;
}
.scrolltrigger-section .visual-wrap .visual-3 .skin-type-section {
  width: 100%;
  justify-content: space-between;
}
.scrolltrigger-section .visual-wrap .visual-3 .type-filter {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}
.scrolltrigger-section .visual-wrap .visual-3 .skin-filter-item {
  display: inline-block;
  padding-inline: 1.7rem;
  padding-block: 1rem;
  border-radius: 40px;
  color: #fff;
  border: 1px solid #fff;
}
.scrolltrigger-section .visual-wrap .visual-3 .skin-filter-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.scrolltrigger-section .visual-wrap .visual-3 .product-list-wrap {
  padding-inline: 2.2rem;
  padding-block: 2rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  gap: 1.5rem;
}
.scrolltrigger-section .visual-wrap .visual-3 .product-card {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: #f7f5f2;
  padding-inline: 2rem;
  padding-block: 2.5rem;
  width: 28rem;
  height: 38.5rem;
  display: flex;
  flex-direction: column;
}
.scrolltrigger-section .visual-wrap .visual-3 .product-card .category {
  font-size: 2.3rem;
  font-weight: 400;
}
.scrolltrigger-section .visual-wrap .visual-3 .product-card .name {
  font-size: 1.3rem;
  font-family: sans-serif;
  width: 35%;
}
.scrolltrigger-section .visual-wrap .visual-3 .product-card .img-box {
  height: 80%;
}
.scrolltrigger-section .visual-wrap .visual-3 .product-card .img-box img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  transform-origin: bottom;
}
.scrolltrigger-section .visual-wrap .visual-4 {
  width: 100%;
  margin-top: 90vh;
  overflow: hidden;
}
.scrolltrigger-section .visual-wrap .visual-4 .reviews-wrap {
  display: flex;
  gap: 15px;
}
.scrolltrigger-section .visual-wrap .visual-4 .reviews .img-box {
  width: 19rem;
  height: 19rem;
  overflow: hidden;
}
.scrolltrigger-section .visual-wrap .visual-4 .reviews .img-box img {
  -o-object-fit: fill;
     object-fit: fill;
}
.scrolltrigger-section .visual-wrap .visual-4 .reviews .txt-box {
  font-family: sans-serif;
  font-size: 1.8rem;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.scrolltrigger-section .visual-wrap .visual-4 .reviews .txt-box .date {
  font-size: 1.2rem;
  color: #dfdfdf;
  margin-top: 1rem;
}
.scrolltrigger-section .visual-wrap .visual-4 .reviews .txt-box .line {
  height: 1px;
  width: 100%;
  background-color: #a4a4a4;
  margin-block: 0.5rem;
}
.scrolltrigger-section .visual-wrap .visual-4 .reviews .txt-box .product {
  align-items: center;
}
.scrolltrigger-section .visual-wrap .visual-4 .reviews .txt-box .product-img {
  width: 2.7rem;
  height: 2.7rem;
  overflow: hidden;
}
.scrolltrigger-section .visual-wrap .visual-4 .reviews .txt-box .product-img img {
  -o-object-fit: fill;
     object-fit: fill;
}
.scrolltrigger-section .visual-wrap .visual-4 .reviews .txt-box .product-name {
  font-size: 1.2rem;
  margin-left: 0.7rem;
}
.scrolltrigger-section .visual-wrap .visual-5 {
  margin-top: 50vh;
  padding-inline: 8.6rem;
  width: 100%;
}
.scrolltrigger-section .visual-wrap .visual-5 .membership-section {
  width: 100%;
  gap: 2.4rem;
}
.scrolltrigger-section .visual-wrap .visual-5 .left,
.scrolltrigger-section .visual-wrap .visual-5 .right {
  padding-inline: 4rem;
  padding-block: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border: 1px solid #fff;
  width: 50%;
  flex: 1;
  height: 36rem;
  border-radius: 2.1rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.scrolltrigger-section .visual-wrap .visual-5 .right {
  margin-top: 8.5rem;
}
.scrolltrigger-section .visual-wrap .visual-5 .membership-title {
  font-size: 4.8rem;
  font-weight: 700;
}
.scrolltrigger-section .visual-wrap .visual-5 .desc {
  font-family: sans-serif;
  font-size: 2rem;
}
.scrolltrigger-section .visual-wrap .visual-5 .more {
  font-family: "Playfair Display", serif;
  padding-inline: 1.7rem;
  padding-block: 1rem;
  border-radius: 40px;
  color: #fff;
  border: 1px solid #fff;
}
.scrolltrigger-section .visual-wrap .visual-5 .more a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.scrolltrigger-section .visual-wrap .visual-5 .more:hover {
  background-color: #fff;
  color: #5b493b;
}
.scrolltrigger-section .sub-txt-wrap {
  z-index: 6;
  padding-inline: 8.6rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 100vh;
  color: #fff;
  font-size: 2.5rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
.scrolltrigger-section .sub-txt-wrap > div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.scrolltrigger-section .sub-txt-wrap .txt-1 {
  margin-top: 50vh;
}
.scrolltrigger-section .sub-txt-wrap .txt-2 {
  margin-top: 100vh;
}
.scrolltrigger-section .sub-txt-wrap .txt-3 {
  margin-top: 120vh;
}
.scrolltrigger-section .sub-txt-wrap .txt-4 {
  margin-top: 120vh;
}
.scrolltrigger-section .sub-txt-wrap .more {
  font-family: "Playfair Display", serif;
  padding-inline: 1.7rem;
  padding-block: 1rem;
  border-radius: 40px;
  color: #fff;
  border: 1px solid #fff;
}
.scrolltrigger-section .sub-txt-wrap .more a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.scrolltrigger-section .sub-txt-wrap .more:hover {
  background-color: #fff;
  color: #5b493b;
}