.swiper-section {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide-1 {
  background-image: url(../assets/images/ureun_files/swiper1.png);
  background-size: cover;
  background-position: center center;
}
.swiper .swiper-slide-2 {
  background-image: url(../assets/images/ureun_files/swiper2.png);
  background-size: cover;
  background-position: center center;
}
.swiper .swiper-slide-3 {
  background-image: url(../assets/images/ureun_files/swiper3.png);
  background-size: cover;
  background-position: center center;
}
.swiper .swiper-slide-4 {
  background-image: url(../assets/images/ureun_files/swiper4.png);
  background-size: cover;
  background-position: center center;
}
.swiper .swiper-slide {
  height: 100%;
  width: 100%;
}