//===================var==================
$header-height: 100px;
//===================sns-icons=======================================
.ri--instagram-fill {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13.028 2c1.125.003 1.696.009 2.189.023l.194.007c.224.008.445.018.712.03c1.064.05 1.79.218 2.427.465c.66.254 1.216.598 1.772 1.153a4.9 4.9 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.012.266.022.487.03.712l.006.194c.015.492.021 1.063.023 2.188l.001.746v1.31a79 79 0 0 1-.023 2.188l-.006.194c-.008.225-.018.446-.03.712c-.05 1.065-.22 1.79-.466 2.428a4.9 4.9 0 0 1-1.153 1.772a4.9 4.9 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465l-.712.03l-.194.006c-.493.014-1.064.021-2.189.023l-.746.001h-1.309a78 78 0 0 1-2.189-.023l-.194-.006a63 63 0 0 1-.712-.031c-1.064-.05-1.79-.218-2.428-.465a4.9 4.9 0 0 1-1.771-1.153a4.9 4.9 0 0 1-1.154-1.772c-.247-.637-.415-1.363-.465-2.428l-.03-.712l-.005-.194A79 79 0 0 1 2 13.028v-2.056a79 79 0 0 1 .022-2.188l.007-.194c.008-.225.018-.446.03-.712c.05-1.065.218-1.79.465-2.428A4.9 4.9 0 0 1 3.68 3.678a4.9 4.9 0 0 1 1.77-1.153c.638-.247 1.363-.415 2.428-.465c.266-.012.488-.022.712-.03l.194-.006a79 79 0 0 1 2.188-.023zM12 7a5 5 0 1 0 0 10a5 5 0 0 0 0-10m0 2a3 3 0 1 1 .001 6a3 3 0 0 1 0-6m5.25-3.5a1.25 1.25 0 0 0 0 2.5a1.25 1.25 0 0 0 0-2.5'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.streamline-logos--tiktok-logo-block {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5 1a4 4 0 0 0-4 4v14a4 4 0 0 0 4 4h14a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4zm7.34 3.5h2.387c0 1.6 1.352 3.41 3.41 3.41v2.386c-1.417-.098-2.628-.33-3.41-1.023v6.136c0 1.705-1.348 4.091-4.431 4.091c-3.766 0-4.432-3.41-4.432-4.432s.6-4.432 4.772-4.432v2.387c-1.091-.231-2.386.681-2.386 2.045c0 1.705 1.023 2.046 2.046 2.046s2.045-1.023 2.045-2.046z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.streamline-logos--x-twitter-logo-block {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5 1a4 4 0 0 0-4 4v14a4 4 0 0 0 4 4h14a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4zm-.334 3.5a.75.75 0 0 0-.338 1.154l5.614 7.45l-5.915 6.345l-.044.051H6.03l4.83-5.179l3.712 4.928a.75.75 0 0 0 .337.251h4.422a.75.75 0 0 0 .336-1.154l-5.614-7.45L20.017 4.5h-2.05l-4.83 5.18l-3.714-4.928a.75.75 0 0 0-.337-.252zm10.88 13.548L6.431 5.952H8.45l9.114 12.095z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mdi--youtube {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m10 15l5.19-3L10 9zm11.56-7.83c.13.47.22 1.1.28 1.9c.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83c-.25.9-.83 1.48-1.73 1.73c-.47.13-1.33.22-2.65.28c-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44c-.9-.25-1.48-.83-1.73-1.73c-.13-.47-.22-1.1-.28-1.9c-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83c.25-.9.83-1.48 1.73-1.73c.47-.13 1.33-.22 2.65-.28c1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44c.9.25 1.48.83 1.73 1.73'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.streamline-logos--kakao-talk-logo-block {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5 1a4 4 0 0 0-4 4v14a4 4 0 0 0 4 4h14a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4zm-1 9.909c0-3.683 3.657-6.545 8-6.545s8 2.862 8 6.545s-3.657 6.545-8 6.545a10 10 0 0 1-1.006-.05l-3.53 2.178a.364.364 0 0 1-.55-.37l.496-2.94C5.371 15.102 4 13.152 4 10.91Zm2.545-1.955a.5.5 0 0 0 0 1h.591v2.773a.5.5 0 0 0 1 0V9.954h.591a.5.5 0 1 0 0-1zm4.285.32a.5.5 0 0 0-.932 0l-1.273 3.272a.5.5 0 0 0 .932.362l.159-.408h1.296l.158.408a.5.5 0 1 0 .932-.362zm-.466 1.56l.259.666h-.518zm2.863-1.38a.5.5 0 0 0-1 0v3.273a.5.5 0 0 0 .5.5h1.455a.5.5 0 1 0 0-1h-.955zm2.046-.5a.5.5 0 0 1 .5.5v.975L17.1 9.101a.5.5 0 1 1 .707.707l-1.138 1.138l1.175 1.469a.5.5 0 0 1-.78.625l-1.107-1.382l-.185.185v.884a.5.5 0 1 1-1 0V9.454a.5.5 0 0 1 .5-.5Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
//==================================================================
html {
  font-size: 10px;
  @media (width <= 992px) {
    font-size: 9.5px;
  }
  @media (width <= 768px) {
    font-size: 9px;
  }
  @media (width <= 479px) {
    font-size: 8.5px;
  }
  @media (width <= 375px) {
    font-size: 8px;
  }
}

html > body {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  word-break: keep-all;
}
//====================fullscreen-menu==========================================
.fullscreen-menu {
  z-index: 900;
  visibility: hidden;
  transition: visibility 0s 0.5s;

  .left {
    width: 59%;
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  .right {
    height: 100%;
    width: 41%;
    background-color: #f7f5f2;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  .menu-header {
    height: 100px;
    align-items: center;
    justify-content: end;
    gap: 2.5rem;
    padding-inline: 7rem;
  }
  .auth-box {
    font-size: 1.6rem;
    color: #888888;
    li:first-child {
      padding-right: 15px;
      border-right: 1px solid #888888;
    }
    li:last-child {
      padding-left: 15px;
    }
  }
  .menu-body {
    .menubox {
      padding-left: 4.5rem;
    }
    .depth1 {
      font-size: 4rem;
      li {
        margin-top: 2.5rem;
      }
    }
    .depth2 {
      display: flex;
      font-size: 1.6rem;
      color: #888888;
      li {
        padding-inline: 1.5rem;
        &:not(:last-child) {
          border-right: 1px solid #888888;
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
  .close-btn {
    // transform: translateY(8px);
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .left-bar,
    .right-bar {
      width: 40px;
      height: 2px;
      background-color: #000;
      transform-origin: center;
    }
    .left-bar {
      transform: translateY(1.5px) rotate(45deg);
    }
    .right-bar {
      transform: rotate(315deg);
    }
  }

  &.active {
    transition: visibility 0s 0s;
    visibility: visible;
    .left {
      opacity: 1;
      transform: translateX(0);
    }
    .right {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
//===========================header=======================================
header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header-wrap {
  height: $header-height;
  padding-inline: 4rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.3s 0.4s;
  &.on {
    transition: all 0s 0s;

    background-color: #fff;
    .logo-black {
      display: block !important;
    }
    .logo-white {
      display: none;
    }
    .menu-btn {
      &::after,
      &::before {
        background-color: #000 !important;
      }
      .bar {
        background-color: #000 !important;
      }
    }
    .depth1 > li > a {
      color: black;
    }
  }
  .logobox {
    display: flex;
    align-items: center;
    .logo-black {
      transition: all 0.5s;

      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .logobox > img {
    height: 26px;
  }
  .depth1 {
    gap: 4.5rem;
    height: 100%;
  }
  .depth1 > li {
    font-size: 2rem;
    color: #fff;
    height: 100%;
    a {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &:hover {
      > .depth2 {
        max-height: 76px;
        padding-block: 27px;
      }
    }
  }
  .depth2 {
    display: flex;
    position: absolute;
    width: 100%;
    max-height: 0;
    top: 100%;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.5s;
  }
  .depth2 > li {
    font-size: 1.5rem;
    color: #888888;
    padding-inline: 35px;
    &:not(:last-child) {
      border-right: 1px solid #888888;
    }
  }
  .menu-btn-box {
    &:hover {
      cursor: pointer;
    }
    .menu-btn {
      display: flex;
      flex-direction: column;
      height: 20px;
      align-items: end;
      justify-content: space-between;

      .bar {
        transition: all 0.5s;

        height: 2.5px;
        width: 20px;
        background-color: #fff;
      }
      &::after,
      &::before {
        transition: all 0.5s;

        content: "";
        height: 2.5px;
        background-color: #fff;
        width: 31px;
      }
    }
  }
}

//====================footer====================================
.footer {
  background-color: #edd9ca;
  font-family: sans-serif;
  .box {
    background-color: #bdbdbd;
    color: #fff;
    font-size: 1rem;
    width: 9rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .con {
    padding-block: 2rem;
    padding-inline: 7.5rem;
    gap: 7.5rem;
    justify-content: start;
  }
  .logo {
    height: 15px;
  }
  .info {
    font-size: 1.1rem;
    color: #7f7f7f;
    p {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child)::after {
        // border-right: 1px solid #7f7f7f;
        content: "";
        margin-inline: 0.5rem;
        display: inline-flex;
        width: 1px;
        height: 13px;
        background-color: #7f7f7f;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .toss-img {
    height: 1.9rem;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .more {
      > ul {
        gap: 1.3rem;
      }
    }
    .sns-icons {
      display: flex;
      gap: 1.5rem;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    white-space: nowrap;
    .title {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }
    .desc {
      font-size: 1.1rem;
      p {
        margin-bottom: 0.5rem;
      }
    }
  }
}
