//==============================main===========================
.main {
  inset: 0;
  border: 1px solid red;
  height: 100vh;
  // height: calc(100vh - $header-height);
  // position: relative;
}
//=================scroll trigger==================================
.scrolltrigger-section {
  position: relative;
  // height: 100vh;
  height: 100vh;
  overflow: hidden;
  .background {
    background: url("../assets/images/유아른_files/mainbackground.jpg")
      no-repeat bottom / cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // z-index: 1;
  }
  .bg-overlay {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    max-height: 100% !important;
    z-index: 2;
    transition: background-color 0.5s;
  }
  .content {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    // -webkit-overflow-scrolling: touch;
  }
  &.active {
    .content {
      overflow-y: auto;
    }
  }
  .content-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .title {
    position: absolute;
    z-index: 5;
    top: 3px;
    font-size: 16.5rem;
    color: #fff;
    margin-left: 8.6rem;
    // display: flex;
    // flex-direction: column;
    // gap: 100vh;
    > p,
    div {
      border: 1px solid red;
      margin-bottom: 100vh;
    }
  }
  .ureun {
    margin-top: 60rem;
    margin-bottom: 15rem !important;
  }
  .visual-wrap {
    position: absolute;
    z-index: 4;
    margin-right: 8.6rem;
    right: 0;
    top: 0;
    padding-top: 130rem;
    .visual-1 {
      width: 76rem;
      height: 50rem;
      overflow-y: hidden;
      border-radius: 15px;
    }
  }
}
