.swiper-section {
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
  @for $i from 1 through 4 {
    .swiper-slide-#{$i} {
      background-image: url(../assets/images/ureun_files/swiper#{$i}.png);
      background-size: cover;
      background-position: center center;
    }
  }
  .swiper-slide {
    height: 100%;
    width: 100%;
  }
}
